* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button::-moz-focus-inner {
    border: 0;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: Space-between;
    margin: auto 330px;
    height: 78px;
}

li {
    list-style-type: none;
}

.nav__linc {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #ff0000;
}

.nav__linc:hover {
    color: #bf0000;
    text-decoration: none;
    border-bottom: solid 4px #bf0000;
}

.title {
    margin: 48px auto 38px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
}

.text {
    text-indent: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: center;
    margin: 0 68px;
}

.text2 {
    margin-top: 28px;
}

.button__linc {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    display: flex;
    align-items: center;
    Justify-content: center;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    margin: 158px auto 42px;
}

button:hover {
    background: #bf0000;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}

button:active {
    color: #FF0000;
    background: #44e706;
    outline: none;
}

.copyright__phototime {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 29px;
    text-align: right;
}